footer.page-footer
    .footer-copyright
        .container
            span
                | Copyright © 2015
                a.grey-text.text-lighten-4(href='', target='_blank') GeeksLabs
                |  All rights reserved.
            span.right
                | Design and Developed by
                a.grey-text.text-lighten-4(href='') GeeksLabs
// END FOOTER
//
  ================================================
  Scripts
  ================================================
// materialize js
script(type='text/javascript', src='/js/materialize.js')
// prism
script(type='text/javascript', src='/js/prism.js')
// scrollbar
script(type='text/javascript', src='/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js')
// chartist
script(type='text/javascript', src='/js/plugins/chartist-js/chartist.min.js')
// plugins.js - Some Specific JS codes for Plugin Settings
script(type='text/javascript', src='/js/plugins.js')

script
    | $(document).ready(function(){
    | // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    | $('.modal-trigger').leanModal();
    | $('select').material_select();
    | });