extends ../layout.pug
block content
    .section
        if message
            p #{message}
        #responsive-table
            h4.header Каталог
            .row
                .col.s12.m4.l3
                    // Modal Trigger
                    a.waves-effect.waves-light.btn.modal-trigger(href='#modal1') Добавить

                    #modal1.modal
                        .modal-content
                            h4 Добавить нового пользователя
                            .row

                            form(action='/zachislenie', method='post')
                                .row.margin
                                    .input-field.col.s6
                                        i.mdi-communication-vpn-key.prefix
                                        input#_id(type='text', name='_id')
                                        label(for='icon_prefix3') Id

                                    .input-field.col.s6
                                        i.mdi-action-info-outline.prefix
                                        input#desc(type='text', name='desc')
                                        label(for='icon_info') Описание

                                .modal-footer
                                    input.btn.btn-success(type='submit', value='Сохранить')
                                    a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Отмена

                .col.s12.m8.l9
                    table.responsive-table
                        thead
                            tr
                                th(data-field='id') ID
                                th(data-field='name') Страны
                        tbody
                            each z, i in zachislenie
                                tr
                                    td #{z._id}
                                    td #{z.desc}